img{
    display: block;
    width: 100%;  
} 

.logo img{
    width: 2.06rem;
    height: 1.86rem;
}


.sales__icon-img{
    width: 3.43rem;
    transform: translateY(-0.9rem);
}

.arrow-icon{
    width: 0.62rem;
    height: 0.8rem;
   }

   .profile__photo{
    width: 2rem;
    border-radius: 50%;
   }