
:root{


--primary-font: 'Comfortaa', sans-serif;

--fw-1: 300;
--fw-2: 500;
--fw-3: 700;

--color-dark: #363949;
--color-light: rgba(132,139, 200, 0.18);
--color-background: #f6f6f9;
--color-white: #fff;
--color-dark-variant: #677483;
--color-info-light: #dce1eb;
--color-info-dark: #7d8da1;
--color-danger: #B63B56;
--color-danger-light: #FFDDE4;

--card-border-radius: 2rem;
--border-radius: 0.4rem;
--border-radius-2: 0.8rem;
--border-radius-3: 1.8;

--card-padding: 1.4rem;
--padding: 1.2rem;

--box-shadow:0 2rem 3rem var(--color-light)

}